.document {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
}


header h1 {
  border-bottom: 1px solid #d7e1eb;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

section {
  background-color: #fafbfc;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
  gap: 2rem;
}

article {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem
}