* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  display: flex;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  width: 100%;
}

#root {
  width: 100%;
}